@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
  padding: 0;
  margin: 0;
  font-family: Poppins, sans-serif;
}
body{
  display:flex; 
  flex-direction:column; 
  justify-content:center;
  text-align: center;
  align-items: center;
}
.fullHeight{
  min-height:100vh;
  display:flex; 
  flex-direction:column; 
  justify-content:center;
  text-align: center;
  align-items: center;
}
.menu-title{
  font-size: 85px;
  font-weight: 900;
  line-height: 100px;
  letter-spacing: 10px;
}
.card-title{
  font-size: 45px;
  font-weight: 200;
  line-height: 100px;
  letter-spacing: 3px;
}
input.card-input{
  width: 90px;
  height: 90px;
  margin-top: 70px;
  border-radius: 20px;
  border-color: rgb(12, 70, 152);
  border-style: solid;
  text-align: center;
  color: rgb(12, 70, 152);
  font-size: 50px;
}
input.card-input:focus::placeholder {
  color: transparent;
}
input.card-input:focus {
  background-color: rgb(12, 70, 152);
  color: white;
}
/* Chrome, Safari, Edge, Opera input styling */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
textarea:focus, input:focus{
  outline: none;
}
button.start{
  margin-top: 100px;
  width: 500px;
  height: 100px;
  font-size: 50px;
  letter-spacing: 5px;
  background-color: rgb(12, 70, 152);
  font-weight: 600;
  color: white;
  border: none;
  border-radius: 30px;
}
button.start:hover{
  background-color: white;
  color: rgb(12, 70, 152);
  border: solid 3px rgb(12, 70, 152);
  border-radius: 30px;
}
#game{
  text-align: center;
}
#game div {
  border-radius: 15px;
  min-width: 12vw;
  height: 12vw;
  margin:10px;
  display: inline-block;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.352);
}
.gameBanner{
  width: 100%;
}
.bannerTitle{
  width: 50%;
  float: left;
  font-size: 40px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.scoreTitle{
  width: 50%;
  float: right;
  font-weight: 300;
  font-size: 40px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.scoreTitle span{
  color: white;
  background-color: rgb(12, 70, 152);
  padding: 4px 20px;
  border-radius: 9px;
  letter-spacing: 0px;
  font-weight: 800;
}
.restartContent{
  width: 100%;
  padding-top: 50px;
}
#restartGame{
  width: 50%;
  float: left;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: black;
  color: white;
}
button.restartButton{
  width: 300px;
  height: 70px;
  font-size: 30px;
  letter-spacing: 5px;
  font-weight: 600;
  color: inherit;
  border: none;
  background-color: inherit;
}
.GameHistory{
  width: 50%;
  float: right;
  font-weight: 300;
  background-color: rgb(217, 217, 217);
  padding-top: 30px;
  font-size: 30px;
  padding-bottom: 30px;
  line-height: 70px;
}

@media only screen and (max-width: 1000px) {
  .menu-title{
    font-size: 100px;
    font-weight: 700;
    line-height: 300px;
  }
  .card-title{
    font-size: 65px;
    font-weight: 200;
    line-height: 100px;
  }
  input.card-input{
    width: 150px;
    height: 150px;
    margin-top: 70px;
    border-radius: 40px;
    border-width: 5px;
    font-size: 65px;
  }
  button.start{
    margin-top: 150px;
    width: 750px;
    height: 200px;
    font-size: 90px;
    letter-spacing: 7px;
    border-radius: 40px;
  }
  #game div {
    border-radius: 25px;
    min-width: 22vw;
    min-height: 22vw;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.352);
  }
}